@model IEnumerable<LetsConnect.Models.TemporaryWorkshopRegistration>

@section indexStyling {
    <link rel="stylesheet" href="~/css/home/styling.css" />
}

<div>
    Je aanmelding is bevestigt.
</div>
