@model IEnumerable<LetsConnect.Models.TemporaryWorkshopRegistration>

@section indexStyling {
    <link rel="stylesheet" href="~/css/home/styling.css" />
}

<div>
    Bevestig je aanmelding voor @ViewBag.WorkshopName
</div>
