@model IEnumerable<LetsConnect.Models.WorkshopModel>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @foreach (var Item in Model)
    {
        <h1>@Item.WorkshopName</h1>
        <h6>@Item.WorkshopDescription</h6>
    }
</div>